{% extends "webapp/base.html" %}

{% block content %}

    <div class="card">
        <div class="card-header">
            &nbsp; &nbsp;
            <strong>
                {{ record.last_name|upper }}
                {{ record.first_name }}
            </strong>
        </div>

        <div class="card-body">
            <br>
            <p> <strong> ID: </strong>{{ record.id }}</p>
            <p> <strong> Email: </strong>{{ record.email_address }}</p>
            <p> <strong> Phone Number: </strong>{{ record.phone_number }}</p>
            <p> <strong> Street: </strong>{{ record.address }}</p>
            <p> <strong> City: </strong>{{ record.city }}</p>
            <p> <strong> Province: </strong>{{ record.province }}</p>
            <p> <strong> Postal Code: </strong>{{ record.postal_code }}</p>
            <p> <strong> Country: </strong>{{ record.country }}</p>
            <p> <strong> Date Created: </strong>{{ record.creation_date }}</p>
            <br>
        </div>
    </div>

    <br>

    <a class="btn btn-secondary btn-sm" href="{% url 'dashboard' %}">
        Back To Dashboard
    </a>
    &nbsp;
    <a class="btn btn-info btn-sm" href="{% url 'update-record' record.id %}">
        Update Record
    </a>
    &nbsp;
    <a class="btn btn-danger btn-sm" href="{% url '' %}">
        Delete Record
    </a>

{% endblock %}